.azul{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: blue;

}

.rojo{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: red;
}

.verde{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: green;
}

.amarillo{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: yellow;
}


.cambiacolor{
    background-color: black;
}
