.key1 {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 3px solid black;
  }

#key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 3px solid black;
  }
 

h4{
    display: flex;
    text-align: center;
    justify-content: center;
}
.texto1{
    display: flex;
    justify-content: center;
    text-align: center;
}

.texto2{
    display: flex;
    justify-content: center;
    text-align: center;
}