*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal-container{
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
}


.logo{
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    width: 70px;
    font-weight:600;
    color: aliceblue;
}

.btn-primary{
    display: flex;
    justify-content: center;
    padding: 10px;

}
nav {
    grid-area: nav;
    background-color: brown;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 30px;
}
.link{
    display: none;
    gap: 10px;
    flex-direction: column;
    font-size: medium;
    font-weight: 300;
}


main {
    grid-area: main;
    overflow: scroll;
}

footer {
    grid-area: footer;
    display: flex;
    background-color:brown;
    text-align: center;
    color: aliceblue;
    gap: 1px;
    justify-content: center;
    flex-direction: column;
}
.redes{
    padding-top: 20px;
}
.oculto{
    display: flex;
}



@media screen and (min-width: 576px){
    .principal-container{
    grid-template-columns: 8rem 1fr;
    grid-template-areas: 
    "nav main"
    "nav main"
    "nav footer";
    }
    nav { 
        flex-direction: column;
        padding-bottom: 45vh;
    }
   .oculto{
        display: none;
   }
   .link{
        display: flex;
   }
   .logo{
    flex-direction: column;
    }
}


*{
    font-family: Arial;
  }
  
  ul{
    display: none;
  }
  
  input:checked  ~ ul{
    display:block;
  }
  
  input {
    width: 20%;
  }

  
  label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
  label:hover{
    background: grey;
  }
  
  /* Estilo del boton cuando el menú está expandido*/
  input:checked ~ label {
    background: lightgrey; 
  }
  
  ul{
    margin-top:0;
    padding: 0;
    width: 200px;
  
  }
  
 
  li {
    display: block;
    background: burlywood;
    margin: 0;
    padding: 4px;
    list-style: none;
    border-bottom: 1px solid grey;
  }
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  li:hover {
    filter: brightness(110%);
  }    






